<html>
  <head>
    <title>Data Layer: Polygon</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/mapstyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </head>
  
  <body>

<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <% for(var i = 0; i < nav.length; i++){ %>
        <li> <a href= " <%= nav[i].link %>" > <%=nav[i].title%> </a> </li>
        <% } %>        
      </ul>
    </nav>
  </div>
</header>


    <div style="text-align:center">
      <h2 style = "margin-top:5%; margin-bottom:2%"> UK Well-Being Data </h2>
    </div>

    <div class = "wrapper">
        <div id="map"></div>
        <div class = "content">
              <div id = "postcode-txt">  </div> 
              <div id = "score-txt">  </div> 
              <div id = "quantity-txt">  </div> 
    </div>

  <script>

  function initMap() {
        var lightStyle = new google.maps.StyledMapType(
          [
          {
            "featureType": "administrative",
            "elementType": "geometry",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "administrative.land_parcel",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "administrative.neighborhood",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "poi",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "road",
            "stylers": [
              {
                "saturation": -10
              },
              {
                "lightness": 40
              },
              {
                "weight": 0.5
              }
            ]
          },
          {
            "featureType": "road",
            "elementType": "labels",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "road",
            "elementType": "labels.icon",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "transit",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "water",
            "elementType": "labels.text",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          }
        ],
        {name: 'Light'});

        var darkStyle = new google.maps.StyledMapType(
          [
            {
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#212121"
                }
              ]
            },
            {
              "elementType": "labels.icon",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#757575"
                }
              ]
            },
            {
              "elementType": "labels.text.stroke",
              "stylers": [
                {
                  "color": "#212121"
                }
              ]
            },
            {
              "featureType": "administrative",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#757575"
                }
              ]
            },
            {
              "featureType": "administrative.country",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#9e9e9e"
                }
              ]
            },
            {
              "featureType": "administrative.land_parcel",
              "elementType": "labels",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "administrative.locality",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#bdbdbd"
                }
              ]
            },
            {
              "featureType": "poi",
              "elementType": "labels.text",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "poi",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#757575"
                }
              ]
            },
            {
              "featureType": "poi.business",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "poi.park",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#181818"
                }
              ]
            },
            {
              "featureType": "poi.park",
              "elementType": "labels.text",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "poi.park",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#616161"
                }
              ]
            },
            {
              "featureType": "poi.park",
              "elementType": "labels.text.stroke",
              "stylers": [
                {
                  "color": "#1b1b1b"
                }
              ]
            },
            {
              "featureType": "road",
              "stylers": [
                {
                  "saturation": -10
                },
                {
                  "visibility": "simplified"
                },
                {
                  "weight": 0.5
                }
              ]
            },
            {
              "featureType": "road",
              "elementType": "geometry.fill",
              "stylers": [
                {
                  "color": "#2c2c2c"
                }
              ]
            },
            {
              "featureType": "road",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#8a8a8a"
                }
              ]
            },
            {
              "featureType": "road.arterial",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "road.arterial",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#373737"
                }
              ]
            },
            {
              "featureType": "road.highway",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#3c3c3c"
                }
              ]
            },
            {
              "featureType": "road.highway",
              "elementType": "labels",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "road.highway.controlled_access",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#4e4e4e"
                }
              ]
            },
            {
              "featureType": "road.local",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "road.local",
              "elementType": "labels",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "road.local",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#616161"
                }
              ]
            },
            {
              "featureType": "transit",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#757575"
                }
              ]
            },
            {
              "featureType": "water",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#000000"
                }
              ]
            },
            {
              "featureType": "water",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#3d3d3d"
                }
              ]
            }
          ],
        {name: 'Dark'});

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 7,
          center: {lat: 52.500, lng: 0.250},
          mapTypeControl: true,
          streetViewControl: false,
          mapTypeControlOptions: {
            mapTypeIds: ['light', 'dark'],
            style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
            position: google.maps.ControlPosition.LEFT_BOTTOM,
          }
        });
        map.mapTypes.set('dark', darkStyle);
        map.mapTypes.set('light', lightStyle);
        map.setMapTypeId('light');

    //Load whole map and only color the regions saved in the database.
    // This way is better for visuals and much more efficient
    var arr = ['AB','AL','B','BA','BB','BD','BH','BL','BN','BR','BS','CA','CB','CF',
     'CH','CM','CO','CR','CT','CV', 'CW','DA','DD','DE','DG','DH','DL','DN','DT','DY','E','EC',
     'EH','EN','EX','FK','FY','G','GL','GU','HA','HD','HG','HP','HR','HS','HU','HX',
     'IG','IP','IV','KA','KT','KW','KY','L','LA','LD','LE','LL','LN','LS','LU','M','ME',
     'MK','ML','N','NE','NG','NN','NP','NR','NW','OL','OX','PA','PE','PH','PL','PO','PR','RG','RH',
     'RM','S','SA','SE','SG','SK','SL','SM','SN','SO','SP','SR','SS','ST','SW','SY','TA','TD',
     'TF','TN','TQ','TR','TS','TW','UB','W','WA','WC','WD','WF','WN','WR','WS','WV','YO','ZE'];

     var myMap = new Map();
     <% for(var i = 0; i < mapData.length; i++){ %>
          myMap.set('<%=mapData[i].name%>',{ 'avgscore' : <%=mapData[i].avgscore%> , 'quantity' : <%=mapData[i].quantity%>});
    <% } %>  
   
       
  function loadAreasOntoMap(i){
    if(!(i >= arr.length)){
    areaAdress = arr[i];
    $.ajax({
      url: '/UK-Adresses/',
      async: 'true',
      //force to handle it as text
      dataType: "text",
      data:  areaAdress,
      success: function(data) {
          var json = $.parseJSON(data);
          map.data.addGeoJson(json);
      }
    });
     return loadAreasOntoMap(i + 1);
  }
}

loadAreasOntoMap(0);
  
   
    map.data.setStyle(function(feature,number) { 
  var name = feature.getProperty('name');
  if(myMap.has(name)){
    var number = myMap.get(name).avgscore;
    var color = 'red';
    if(number > 2.5){
      color = 'orange';
    }
    if(number > 5){
      color = 'yellow';
    }
    if(number > 7.5){
      color = 'green';
    }
    return {
      fillColor: color,
      strokeWeight: 0.4
     };
  }

    else{
      return{
        fillColor: "#ffffff",
        strokeWeight: 0.1
       }
    }

  });

  map.data.addListener('mouseover', function(event) {
    var name = event.feature.getProperty('name');
    document.getElementById('postcode-txt').textContent = "Postcode: " + name;
    if(myMap.has(name)){
      document.getElementById('score-txt').textContent = "Average Score: " + myMap.get(name).avgscore.toFixed(1);
      document.getElementById('quantity-txt').textContent = "Number of records: " + myMap.get(name).quantity;
    }
    else{
      document.getElementById('score-txt').textContent = "Average Score: " + "No Data";
      document.getElementById('quantity-txt').textContent = "Number of records: " + "N/A";
    }

  });

};

</script>

    <div class='my-legend'>
          <div class='legend-title'> Legend illustrates colors that correspond to </br>
                            predicted average scores for individual post code areas</div>
          <div class='legend-scale'>
            <ul class='legend-labels'>
              <li><span style='background:red;'></span>0 - 2.5</li>
              <li><span style='background:orange;'></span>2.5 - 5.0</li>
              <li><span style='background:yellow;'></span>5.0 - 7.5</li>
              <li><span style='background:green;'></span>7.5 - 10</li>
            </ul>
          </div>

          </div>

       
        <div class="input-group">
          <div class="input-group-btn">
             <button>  Week 1 </button> 
             <button>  Week 1 </button> 
             <button>  Week 1 </button> 
             <button>  Week 1 </button> 
          </div>
        </div>
        


    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhfs3WQijSbqOY-RDmoC1RoYfc3RIiRs4&callback=initMap">
    </script>
  

    
  <footer style="margin-top: 10%">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
          <p class="pull-right"> © UCL Team 9</p>      
      </div>
    </div>
  </div>
</footer>

</body>

</html>
